* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Start of CSS Style -- */

/*
--------------
BASIC STYLES
--------------
*/

:root {
  --primary-color: #0099ff;
  --secondary-color: #3c3c3b;
  --primary-bg-color: #fff;
  --secondary-bg-color: #d2d2d2;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

  body {
    background: #fff;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-setting: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;    
    color: var(--secondary-color);
  }

  .globalContent {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .container, .container-fluid, .container-lg, 
  .container-wide, .container-xl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }
  
  .container, container-lg {
    max-width: 1040px;
  }

  .container-wide, .container-xl {
    max-width: 1160px
  }

  .common-PageTitle {
    font-weight: 300;
    font-size: 45px;
    line-height: 56px;
    color: #32325d;
    letter-spacing: -.01em;
  }

  @media (min-width:670px) {
    .common-PageTitle {
      font-size: 53px;
      line-height: 68px;
    }
  }

  .common-SectionTitle {
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    color: #32325d;
  }

  @media (min-width: 670px) {
    .common-SectionTitle {
      font-size: 42px;
      line-height: 52px;
    }
  }

  .common-SectionTitleHighlight {
    font-weight: 300;
    color: #6772e5;
  }

  .common-IntroText {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #424770;
  }

  @media (min-width:670px) {
    .common-IntroText {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .common-BodyTitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    color: #32325d;
  }

  .common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f;
  }

  .common-MediumBodyText {
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #525f7f;
  }

  .common-UppercaseTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: .025em;
  }

  @media (min-width: 670px) {
    .common-UppercaseTitle {
      font-size: 21px;
      line-height: 32px;
    }
  }

  .common-UpperText {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  .common-AlignRight {
    text-align: right;
  }

  .common-AlignLeft {
    text-align: left;
  }

  .common-NoWrap {
    white-space: nowrap;
  }

  .common-ProductLockup, 
  .common-ProductLockupBack {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media (min-width: 670px) {
    .common-ProductLockup,
    .common-ProductLockupBack {
      font-size: 28px;
      line-height: 38px;
    }
  }

  .common-ProductLockup .icon,
  .common-ProductLockupBack .icon {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    margin-right: 20px;
  }

  @media (min-width: 670px) {
    .common-ProductLockup .icon,
    .common-ProductLockupBack .icon {
      width: 72px;
      height: 72px;
    }
  }

  .common-ProductLockupBack {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    -webkit-transition: color .1s;
    transition: color .1s;
  }

  .common-ProductLockupBack:before {
    font:normal 48px/24px StripeIcons;
    content:"\279D";
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
    width:36px;
    text-align:right;
    position:relative;
    top:-6px;
    -webkit-transition:color .1s;
    transition:color .1s;
  }

  .common-ProductLockupBack .icon {
    width: 48px;
    height: 48px;
  }

  .common-ProductLockupBack .hover-fillDark,
  .common-ProductLockupBack .hover-fillLight {
    -webkit-transition: fill .1s;
    transition: fill .1s;
  }

  .common-ProductLockupBack .hover-strokeDark,
  .common-ProductLockupBack .hover-strokeLight {
    -webkit-transition: fill .1s;
    transition:fill .1s;
  }

  .common-ProductLockupBack:hover .hover-fillLight {
    fill: #8898aa;
  }

  .common-ProductLockupBack:hover .hover-fillDark {
    fill: #32325d;
  }

  .common-ProductLockupBack:hover .hover-strokeLight {
    stroke: #8898aa;
  }

  .common-ProductLockupBack:hover .hover-strokeDark {
    stroke: #32325d;
  }

  .common-Link {
    color: #6772e5;
    font-weight: 500;
    --webkit-transition:color .1s ease;
    transition:color .1s ease;
    cursor: pointer;
  }

  keyboard-navigation .common-Link:focus {
    outline: none;
    text-decoration: underline;
    text-underline-position: under;
  }

  .common-Link:focus,
  .common-Link:hover {
    color: #32325d;
  }

  .common-Link:active {
    color: #000;
  }

  .common-Link--arrow:after {
    font: normal 16px StripeIcons;
    content: "\2192";
    padding-left: 5px;
  }

  .common-Link--arrowL:before {
    content:"\2192";
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    margin-right:5px;
  }
  .common-Link--arrowL:before,
  .common-Link--download:before {
    display:inline-block;
    font:normal 16px StripeIcons;
    vertical-align:-2px;
  }
  .common-Link--download:before {
    content:"\279C";
    margin-right:2px;
    -webkit-transform:rotate(90deg) scale(.9);
    transform:rotate(90deg) scale(.9);
  }
  .common-UppercaseText.common-Link--arrow:after {
    content:"\279C";
  }

  .common-InvertedText .common-BodyTitle,
  .common-InvertedText .common-PageTitle,
  .common-InvertedText .common-SectionTitle,
  .common-InvertedText .common-SectionTitleHighlight,
  .common-InvertedText .common-UpperText,
  .common-InvertedText .common-UppercaseTitle {
    color: #fff;
  }

  .common-InvertedText .common-IntroText {
    color: #c4f0ff;
  }

  .common-InvertedText .common-BodyText {
    color: #9cdbff;
  }

  .common-InvertedText .common-Link,
  .common-link--white {
    color: #fff;
  }

  .common-InvertedText .common-Link:focus,
  .common-InvertedText .common-Link:hover,
  .common-Link--white:focus,
  .common-Link--white:hover {
    color:#c4f0ff;
  }
  .common-InvertedText .common-Link:active,
  .common-Link--white:active {
    color:#87bbfd;
  }

  .common-Button {
    white-space:nowrap;
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 14px;
    -webkit-box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    background:#fff;
    border-radius:4px;
    font-size:15px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.025em;
    color:#6772e5;
    text-decoration:none;
    -webkit-transition:all .15s ease;
    transition:all .15s ease
  }

  .keyboard-navigation .common-Button:focus {
    outline:none;
    -webkit-box-shadow:0 0 0 1.5px hsla(0,0%,100%,.75),0 0 0 1.25px rgba(82,95,127,.5) inset,0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
    box-shadow:0 0 0 1.5px hsla(0,0%,100%,.75),inset 0 0 0 1.25px rgba(82,95,127,.5),0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025)
  }

  

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
    margin: 2em 0;
    padding: 0;
    color: var(--primary-color);
  }
  
  h1 {
    font-size: 3.052em;
  }
  
  h2 {
    font-size: 2.441em;
  }
  
  h3 {
    font-size: 1.953em;
  }
  
  h4 {
    font-size: 1.563em;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  h6 {
    font-size: 0.8em;
  }

  /* 
  -------------
  LINKS
  ------------
   */

  a,
  a:visited,
  a:active,
  a:hover {
    color: var(--primary-color);
  }
  a:hover {
    text-decoration: none;
  }

  /* 
  -------------
  BOX SIZING 
  -------------
  */

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

    /* 
  -------------
  STRUCTURE
  -------------
  */

  .wrapper {
    min-height: 100vh;
    display: grid;
    margin: 0 auto;
    width: 92%;
  }

  .branding {
    padding: 15px 0;
  }

  #banner {
    text-align: center;
  }

  /*
  -----------------
  RESPONSIVE IMAGES
  -----------------
  */

  img {
    max-width: 100%;
    height: auto;
  }

  /*
  -----------------
  MAIN MENU
  -----------------
  */

  .menu-toggle {
    display: block;
    padding: 10px;
    margin: 20px 0 0;
    background: var(--secondary-bg-color);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .menu-toggle.toggled-on {
    background: var(--primary-bg-color);
  }

  .srt-menu {
    display: none;
  }

  .srt-menu.toggled-on {
    display: block;
    position: relative;
    z-index: 10;
  }

  .srt-menu {
    clear: both;
    margin-bottom: 60px;
  }

  .srt-menu li a {
    background: #dadada;
    display: block;
    margin: 1px 0;
    padding: 10px;
    text-decoration: none;
  }

  .srt-menu li a:hover {
    background: #0099ff;
    color: #fff;
  }

  .srt-menu li li a {
    background: #e8e8e8;
    padding-left: 40px;
  }

  .srt-menu li li li a {
    background: #efefef;
    padding-left: 80px;
  }

  /*
  -----------------
  SECONDARY MENU
  -----------------
  */

  #secondary-navigation {
    margin-bottom: 60px;
  }

  #secondary-navigation ul {
    margin: 0;
    padding: 0;
  }

  #secondary-navigation ul li a {
    background: #e6e6e6;
    display: block;
    margin: 5px 0;
    padding: 10px;
    text-decoration: none;
  }